body{
  font-family: "Montserrat", sans-serif;
}

.video-back {
  width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.15;
    filter: blur(1px);
    transform: scale(2.04);
}

.dropdown-menu{
  background-color: #292b2c;
}

.btn-tariff{
  color: #fff;
  border-color: #f14d34;
  width: 220px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  transition: background 300ms;
  padding: 20px 22px;
}

.btn-tariff:hover{
  color: #fff;
  background: #f14d34;
  border-color: #f14d34;
}

.header-background{
  position: absolute;
  z-index: -2;
  background: #040613;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.achievement-tab {
  border-left: 3px solid #f14d34;
}

.extra-text{
  margin-top: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(255,255,255,.7);
}

.achievement-tab-title-main{
  font-size: 48px;
}

.achievement-tab-title {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-top: 12px;
  position: relative;
}

.text-about-service{
  font-size: 14px;
}

.text-about-main{
  font-size: 52px;
  line-height: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.nav-link{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}


.dev-title{
  font-weight: bold;
  font-size: 18px;
  color: #050c33;
  line-height: 1.22;
  margin-bottom: 15px;
}

.extra-text-zero{
  margin-top: 0;
}

.navbar-brand{
  margin-right: 0;
}

.close:hover{
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.nav-link{
  border-bottom: 3px solid transparent;
}

.navbar-effect{
  border-bottom: 3px solid #f14d34;
}

.nav-link:hover{
  border-bottom: 3px solid #f14d34;
  transition: border-color 200ms;
}

.navbar-region{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.header-data{
  z-index: 10;
  color: white;
  position: center;
}

.PartnersSliderWrapper{
  margin: 50px 0 5px 0;
}

.SupportPic{
  border: solid 2px rgb(80, 80, 80);
  border-radius: 5px;
  margin:0 6px;
}

.SupportPic > img {
    width: 100%;
    height: auto;
}

.Webform-wrapper {
  width: 480px;
  max-width: 100%;
}

footer {
  background: rgb(19, 11, 46);
  padding: 80px 0 54px;
  color: #fff;
  font-family: Montserrat;
  margin-top: 45px;
  margin-bottom: -600px important;
  border-top: 1px solid #e5e5e5;
  height: 600px;
}

.Webform-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.215;
  margin-bottom: 20px;
}

.Webform-description {
  line-height: 1.55;
  font-weight: 500;
  font-size: 14px;
  color: rgba(256, 256, 256, .7);
  margin-bottom: 140px;
}

.Webform-phone {
  list-style: none;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding-left: 40px;
}

.Webform-email {
  list-style: none;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
}

.num-form {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding-left: 40px;
  font-weight: bold !important;
  font-size: 30px !important;
  position: relative;
  line-height: 1.1;
}

.email-form {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding-left: 40px;
  font-weight: bold !important;
  font-size: 30px !important;
  position: relative;
  line-height: 1.1;
}

.Webform-contacts a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding-left: 40px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  line-height: 1.1;
}

form {
  width: 480px;
  max-width: 100%;
  margin-left: auto;
}

textarea {
  background: transparent;
  border: 1px solid rgba(256, 256, 256, .3);
  border-radius: 5px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 14px;
  padding: 26px 24px;
  color: #fff;
}

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  margin-top: 40px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent !important;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus{
  color: #f7f7f7;
  background-color: transparent;
  border-color: #fc3b1e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.btn-footer{
  border: 2px solid #ff3617;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  transition: background 300ms;
  background: #fd3b1d;
}

.btn-footer:hover{
  color: #fff;
  background: transparent;
}

@media screen and (min-width: 992px){
  .dropdown-menu{
      background-color: #f14d34;
  }
}
